body {
    background: #eee;
}

.nk-main {
    margin: 0 auto;
    width: 1000px;
    padding-top: 70px;
    padding-bottom: 250px;
}

.clearfix {
    display: block;
    zoom: 1;
}

.profile-info-wrapper {
    position: relative;
    margin-bottom: 10px;
    height: 100px;
    background: #fff;
    clear: both;
    border: 1px solid #e0e0e0;
    border-radius: 3px;
}

.profile-info-main {
    float: left;
    padding: 20px 20px 0;
}

.head-pic {

}

profile-info-cont {
    float: left;
}

.profile-cont li {
    list-style-type: none;
    margin: auto 25px;
    float: left;
}

.profile-oprt-box {
    position: absolute;
    right: 20px;
    top: 30px;
}

.nk-bar {
    width: 259px;
    float:left;
}

.profile-menu li {
    line-height: 40px;
    font-size: 14px;
    position: relative;
}

.profile-menu a {
    display: block;
    position: relative;
}

.btn-plain.btn-blog {
    border-color: #ddd;
    display: block;
    width: 257px;
    line-height: 40px;
    padding: 0;
    margin-bottom: 10px;
}

.module-box:last-child {
    margin-bottom: 0;
}

.module-box {
    border: 1px solid #e0e0e0;
    border-radius: 3px;
    margin-bottom: 10px;
    background: #fff;
}

.module-head {
    padding: 10px 10px;
}

.nk-content {
    background: #fff;
    margin: 0 0 0 10px;
    width: 730px;
    float: left;
}

.nk-content {
    margin: 0 0 0 10px;
    width: 730px;
    float: left;
}

.module-head h1, .module-head h2 {
    font-size: 16px;
    line-height: 16px;
    float: left;
    font-weight: 700;
    white-space: nowrap;
}

.module-head-oprt {
    clear: both;
    float: left;
}

.module-body {
    clear: both;
    padding: 20px;
}

.hot-com-list {
    font-size: 0;
    margin-right: -20px;
}

.hot-com-list>li {
    width: 132px;
    height: 185px;
    text-align: center;
    overflow: hidden;
    border: 1px solid #ddd;
    display: inline-block;
    font-size: 14px;
    margin: 0 22px 20px 0;
    position: relative;
    cursor: pointer;
    border-radius: 2px;
}

a:link, a:visited {
    text-decoration: none;
}

.hot-com-pic {
    width: 134px;
    height: 134px;
    margin-bottom: 6px;
    overflow: hidden;
}

.hot-com-pic img {
    width: 134px;
    height: 134px;
}

.hot-com-name {
    width: 90%;
    padding: 0 5%;
    height: 40px;
    overflow: hidden;
}

.mask-item-layer {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
}

.mask-item-txt {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    padding: 40px 10px 0 10px;
}

.mask-item {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    border-radius: 2px;
    background: rgba(0,0,0,.6);
}

.test-list {
    margin-right: -20px;
}

.test-list .test-item {
    border: 1px solid #e1e1e1;
    border-radius: 3px;
    padding: 20px 20px 10px;
    width: 440px;
    display: inline-block;
    vertical-align: top;
    margin: 0 20px 20px 0;
}

.test-list .test-main {
    margin-bottom: 10px;
    border-bottom: 1px solid #eee;
}

.test-item-pic {
    width: 70px;
    height: 70px;
    float: left;
    overflow: hidden;
    background: #f4f4f4;
}

.test-item-pic img {
    width: 100%;
}

.test-list .test-item-cont {
    padding-bottom: 15px;
    margin-left: 80px;
}

.test-list .test-item-cont h4 {
    margin-bottom: 5px;
    font-size: 16px;
    height: 48px;
    font-weight: 700;
    overflow: hidden;
}

.test-item-info {
    font-size: 16px;
    color: #666;
}

.item-info-num {
    display: inline-block;
    vertical-align: top;
    width: 120px;
}

.item-info-num .ico-form {
    width: 15px;
    background: url(//static.nowcoder.com/acm/images-acm/img/match/ico-form.png) no-repeat;
}

.item-info-num i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 18px;
    height: 18px;
}