<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.offer.mapper.PfoCompanyMapper" >
  <resultMap id="BaseResultMap" type="com.offer.pojo.PfoCompany" >
    <id column="company_id" property="companyId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="company_name" property="companyName" jdbcType="VARCHAR" />
    <result column="company_address" property="companyAddress" jdbcType="VARCHAR" />
    <result column="company_url" property="companyUrl" jdbcType="VARCHAR" />
    <result column="qualification" property="qualification" jdbcType="VARCHAR" />
    <result column="logo" property="logo" jdbcType="VARCHAR" />
    <result column="paper_list_id" property="paperListId" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.offer.pojo.PfoCompany" extends="BaseResultMap" >
    <result column="introduce" property="introduce" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    company_id, user_id, company_name, company_address, company_url, qualification, logo, 
    paper_list_id
  </sql>
  <sql id="Blob_Column_List" >
    introduce
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.offer.pojo.PfoCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pfo_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.offer.pojo.PfoCompanyExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pfo_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from pfo_company
    where company_id = #{companyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pfo_company
    where company_id = #{companyId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.offer.pojo.PfoCompanyExample" >
    delete from pfo_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offer.pojo.PfoCompany" >
    insert into pfo_company (company_id, user_id, company_name, 
      company_address, company_url, qualification, 
      logo, paper_list_id, introduce
      )
    values (#{companyId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{companyName,jdbcType=VARCHAR}, 
      #{companyAddress,jdbcType=VARCHAR}, #{companyUrl,jdbcType=VARCHAR}, #{qualification,jdbcType=VARCHAR}, 
      #{logo,jdbcType=VARCHAR}, #{paperListId,jdbcType=VARCHAR}, #{introduce,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offer.pojo.PfoCompany" >
    insert into pfo_company
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        company_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="companyName != null" >
        company_name,
      </if>
      <if test="companyAddress != null" >
        company_address,
      </if>
      <if test="companyUrl != null" >
        company_url,
      </if>
      <if test="qualification != null" >
        qualification,
      </if>
      <if test="logo != null" >
        logo,
      </if>
      <if test="paperListId != null" >
        paper_list_id,
      </if>
      <if test="introduce != null" >
        introduce,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="companyId != null" >
        #{companyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualification != null" >
        #{qualification,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        #{logo,jdbcType=VARCHAR},
      </if>
      <if test="paperListId != null" >
        #{paperListId,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offer.pojo.PfoCompanyExample" resultType="java.lang.Integer" >
    select count(*) from pfo_company
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pfo_company
    <set >
      <if test="record.companyId != null" >
        company_id = #{record.companyId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.companyName != null" >
        company_name = #{record.companyName,jdbcType=VARCHAR},
      </if>
      <if test="record.companyAddress != null" >
        company_address = #{record.companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.companyUrl != null" >
        company_url = #{record.companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.qualification != null" >
        qualification = #{record.qualification,jdbcType=VARCHAR},
      </if>
      <if test="record.logo != null" >
        logo = #{record.logo,jdbcType=VARCHAR},
      </if>
      <if test="record.paperListId != null" >
        paper_list_id = #{record.paperListId,jdbcType=VARCHAR},
      </if>
      <if test="record.introduce != null" >
        introduce = #{record.introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update pfo_company
    set company_id = #{record.companyId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_address = #{record.companyAddress,jdbcType=VARCHAR},
      company_url = #{record.companyUrl,jdbcType=VARCHAR},
      qualification = #{record.qualification,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      paper_list_id = #{record.paperListId,jdbcType=VARCHAR},
      introduce = #{record.introduce,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pfo_company
    set company_id = #{record.companyId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=BIGINT},
      company_name = #{record.companyName,jdbcType=VARCHAR},
      company_address = #{record.companyAddress,jdbcType=VARCHAR},
      company_url = #{record.companyUrl,jdbcType=VARCHAR},
      qualification = #{record.qualification,jdbcType=VARCHAR},
      logo = #{record.logo,jdbcType=VARCHAR},
      paper_list_id = #{record.paperListId,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offer.pojo.PfoCompany" >
    update pfo_company
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="companyName != null" >
        company_name = #{companyName,jdbcType=VARCHAR},
      </if>
      <if test="companyAddress != null" >
        company_address = #{companyAddress,jdbcType=VARCHAR},
      </if>
      <if test="companyUrl != null" >
        company_url = #{companyUrl,jdbcType=VARCHAR},
      </if>
      <if test="qualification != null" >
        qualification = #{qualification,jdbcType=VARCHAR},
      </if>
      <if test="logo != null" >
        logo = #{logo,jdbcType=VARCHAR},
      </if>
      <if test="paperListId != null" >
        paper_list_id = #{paperListId,jdbcType=VARCHAR},
      </if>
      <if test="introduce != null" >
        introduce = #{introduce,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.offer.pojo.PfoCompany" >
    update pfo_company
    set user_id = #{userId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      qualification = #{qualification,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      paper_list_id = #{paperListId,jdbcType=VARCHAR},
      introduce = #{introduce,jdbcType=LONGVARCHAR}
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offer.pojo.PfoCompany" >
    update pfo_company
    set user_id = #{userId,jdbcType=BIGINT},
      company_name = #{companyName,jdbcType=VARCHAR},
      company_address = #{companyAddress,jdbcType=VARCHAR},
      company_url = #{companyUrl,jdbcType=VARCHAR},
      qualification = #{qualification,jdbcType=VARCHAR},
      logo = #{logo,jdbcType=VARCHAR},
      paper_list_id = #{paperListId,jdbcType=VARCHAR}
    where company_id = #{companyId,jdbcType=BIGINT}
  </update>

  <!--自定义接口实现-->
  <select id="queryCompany" parameterType="com.offer.pojo.PfoCompany" resultMap="BaseResultMap">
      SELECT *FROM pfo_company
      <where>
      <if test="companyId != null" >
        AND company_id = #{companyId}
      </if>
      <if test="userId != null" >
        AND user_id = #{userId}
      </if>
      <if test="companyName != null" >
        AND company_name LIKE '%${companyName}%'
      </if>
      <if test="companyAddress != null" >
        AND company_address = '%${companyAddress}%'
      </if>
      <if test="companyUrl != null" >
        AND company_url = #{companyUrl}
      </if>
      <if test="qualification != null" >
        AND qualification = #{qualification}
      </if>
      <if test="logo != null" >
        AND logo = #{logo}
      </if>
      <if test="paperListId != null" >
        AND paper_list_id = #{paperListId}
      </if>
      <if test="introduce != null" >
        introduce = #{introduce}
      </if>
    </where>
  </select>
</mapper>