<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.offer.mapper.PfoQuestionTagMapper" >
  <resultMap id="BaseResultMap" type="com.offer.pojo.PfoQuestionTag" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tag_id" property="tagId" jdbcType="BIGINT" />
    <result column="question_id" property="questionId" jdbcType="BIGINT" />
  </resultMap>

  <!--根据试题ID查询标签-->
  <select id="queryTagsByQuestionId" resultType="com.offer.pojo.PfoTag" parameterType="java.lang.Long">
    select
     pfo_tag.tag_id,pfo_tag.tag_name
    from
     pfo_question_tag,pfo_tag
    where
      pfo_question_tag.tag_id=pfo_tag.tag_id
    and
      pfo_question_tag.question_id=#{questionId}
  </select>


  <!--查询所有试题标签-->
  <select id="queryAllQuestionTags" resultType="com.offer.pojo.PfoTag">
    select
     DISTINCT pfo_tag.tag_id,pfo_tag.tag_name
    from
     pfo_question_tag,pfo_tag
    where
      pfo_question_tag.tag_id=pfo_tag.tag_id
  </select>

  <!--根据标签ID查询试题-->
  <select id="queryQuestionsByTagId" resultType="com.offer.pojo.PfoQuestion" parameterType="java.lang.Long">
    select
      pfo_question.*
    from
      pfo_question_tag,pfo_question
    where
	  pfo_question_tag.question_id=pfo_question.question_id
	and
      pfo_question_tag.tag_id=#{tagId}
  </select>


  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, tag_id, question_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.offer.pojo.PfoQuestionTagExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from pfo_question_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from pfo_question_tag
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from pfo_question_tag
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.offer.pojo.PfoQuestionTagExample" >
    delete from pfo_question_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.offer.pojo.PfoQuestionTag" >
    insert into pfo_question_tag (id, tag_id, question_id
      )
    values (#{id,jdbcType=BIGINT}, #{tagId,jdbcType=BIGINT}, #{questionId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.offer.pojo.PfoQuestionTag" >
    insert into pfo_question_tag
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tagId != null" >
        tag_id,
      </if>
      <if test="questionId != null" >
        question_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tagId != null" >
        #{tagId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        #{questionId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.offer.pojo.PfoQuestionTagExample" resultType="java.lang.Integer" >
    select count(*) from pfo_question_tag
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update pfo_question_tag
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.tagId != null" >
        tag_id = #{record.tagId,jdbcType=BIGINT},
      </if>
      <if test="record.questionId != null" >
        question_id = #{record.questionId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update pfo_question_tag
    set id = #{record.id,jdbcType=BIGINT},
      tag_id = #{record.tagId,jdbcType=BIGINT},
      question_id = #{record.questionId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.offer.pojo.PfoQuestionTag" >
    update pfo_question_tag
    <set >
      <if test="tagId != null" >
        tag_id = #{tagId,jdbcType=BIGINT},
      </if>
      <if test="questionId != null" >
        question_id = #{questionId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.offer.pojo.PfoQuestionTag" >
    update pfo_question_tag
    set tag_id = #{tagId,jdbcType=BIGINT},
      question_id = #{questionId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>